fastapi==0.116.1
uvicorn==0.35.0

# ML dependencies
numpy==2.2.6
pandas==2.2.2
scikit-learn==1.7.1
scipy==1.16.1
joblib==1.5.2

# NLP dependencies (if you use text classification)
spacy==3.8.7
nltk==3.9.1
textblob==0.19.0

# Utils
python-dotenv==1.1.1
requests==2.32.5
